@{
    ViewData["Title"] = "Index";
    Layout = "_HomeLayout";
}
<div class="container w-75 text-center my-5" style="height:40vh;color:black">

    <h1 class="">Welcome <label>@User.Identity.Name</label></h1>
</div>
