@{
    ViewData["Title"] = "PAyment";
    Layout = "_MyLayout";
}

<div class="container w-75 text-center my-5" style="height:40vh">

<h1 class="">Thanks <label>@User.Identity.Name For Your Trust</label></h1>
<h5>Your Store Your Place</h5>
</div>

